@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .text-applied{
        @apply text-light-text dark:text-dark-text-base dark:hover:text-dark-text-hover;
  }}
  .transition-animation:hover{ @apply translate-y-[-2px]}
.middle{
    float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}