@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .text-applied {
    @apply text-light-text dark:text-dark-text-base dark:hover:text-dark-text-hover;
  }
}
.transition-animation:hover {
  @apply translate-y-[-2px];
}

.scrollbarContainter::-webkit-scrollbar{
  width: 10px;

}
.scrollbarContainter::-webkit-scrollbar-track{
  background-color: #1f1f1f;
}
.scrollbarContainter::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #424242;
}